--swiftversion 6.2
--indent 4
--maxwidth 100
--stripunusedargs closure-only
--wraparguments before-first
--wrapparameters before-first
--extensionacl on-declarations
--exclude .build,build
--decimalgrouping 3,4
